<!--
  Used for visualising rplidar in action.  
  
  It requires rplidar.launch.
 -->
<launch>
  <!-- args for laserfilter -->
  <arg name="laser_filter_file" default="laser_filters/CuGo_filter.yaml"/>

  <!-- Static TF-->
  <node pkg="tf" type="static_transform_publisher" name="laser_tf_broadcaster" args="0 0 0.16 0 0 0 base_link laser 10" />

  <!-- laser_filter -->
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
    <rosparam command="load" file="$(find CuGoPy_Controller)/$(arg laser_filter_file)" />
  </node>

  <!-- LiDAR -->
  <include file="$(find rplidar_ros)/launch/rplidar_s2e.launch" />


  <!-- rviz -->
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" /-->

</launch>
